# Listas

## Creando listas con diferentes tipos de datos

In [1]:
# Estructura : | nombre (string) | millones de usuarios (int) | pertenece a facebook(bool)

In [2]:
fb = ['Facebook', 2449, True]
tw = ['Twitter', 339, False]
ig = ['Instagram',1000, True]
yt = ['Youtube',2000,False]
lk = ['LinkedIn',663,False]
wa = ['Whatsapp',1600,True]

## Seleccionar elementos de las listas

In [4]:
nombres_rrss = ['Facebook','Twitter','Instagram','Youtube','LinkedIn','Whatsapp']

In [5]:
# En python el conteo empieza en cero

In [6]:
nombres_rrss[0]

'Facebook'

In [7]:
# Seleccionando dos elementos
[nombres_rrss[0],nombres_rrss[1]]

['Facebook', 'Twitter']

In [10]:
# Utilizando dos puntos ( : ) para seleccionar varios elementos de seguido
# Primer valor -> Incluyente,     Segundo valor -> Excluyente

In [9]:
nombres_rrss[1:4]

['Twitter', 'Instagram', 'Youtube']

In [11]:
# Seleccionando desde atrás

In [12]:
nombres_rrss[-1]

'Whatsapp'

## Agregar y eliminar elementos de una lista

In [13]:
fb

['Facebook', 2449, True]

In [14]:
# Suponiendo para agregar el año de la creación de la red social

In [15]:
fb.append(2006)

In [16]:
fb

['Facebook', 2449, True, 2006]

In [17]:
tw.append(2006)
ig.append(2010)
yt.append(2005)
lk.append(2003)
wa.append(2009)

In [18]:
# Para eliminar elementos de una lista

In [19]:
fb.append('Error 404')

In [20]:
fb

['Facebook', 2449, True, 2006, 'Error 404']

In [21]:
fb.remove('Error 404')

In [22]:
fb

['Facebook', 2449, True, 2006]

# Como crear DataFrame de una lista

## Creando lista de listas

In [29]:
# creando listas con todas las RRSS

In [30]:
lista_rrss = [fb,tw,ig,yt,lk,wa]

In [31]:
# Mostrando la lista

In [32]:
lista_rrss

[['Facebook', 2449, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1000, True, 2010],
 ['Youtube', 2000, False, 2005],
 ['LinkedIn', 663, False, 2003],
 ['Whatsapp', 1600, True, 2009]]

In [33]:
# Creando un DataFrame a partir de esto

In [35]:
import pandas as pd

pd.DataFrame(lista_rrss, columns=['Nombre','Cantidad','es_Facebook','Año'])

      Nombre  Cantidad  es_Facebook   Año
0   Facebook      2449         True  2006
1    Twitter       339        False  2006
2  Instagram      1000         True  2010
3    Youtube      2000        False  2005
4   LinkedIn       663        False  2003
5   Whatsapp      1600         True  2009